In [ ]:
# Import the required libraries
import numpy as np
import pandas as pd
import hvplot.pandas
from pathlib import Path
from finta import TA

# Imports for Alpaca API, .env files, requests
import os
import requests
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [ ]:
# Load .env enviroment variables
load_dotenv()

True

In [ ]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

# Set start and end dates and specify isoformat

start_date = pd.Timestamp("2023-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2024-01-17", tz="America/New_York").isoformat()

# Set the tickers(s)
tickers = ["AAPL"]

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [ ]:
# 3 MINUTE
# Set timeframe for Alpaca API
timeframe = "3Min"

# Get historical OHLC data for AAPL
aapl_3min_df = alpaca.get_bars(
    tickers,
    timeframe,
    start = start_date,
    end = end_date
).df

aapl_3min_df

# Separate ticker data
aapl_3min_formatted = aapl_3min_df[aapl_3min_df['symbol']=='AAPL'].drop('symbol', axis=1)

# Drop NA
aapl_3min_formatted = aapl_3min_formatted.dropna()

aapl_3min_formatted

,close,high,low,trade_count,open,volume,vwap
timestamp,,,,,,,
2023-01-03 09:00:00+00:00,131.17,131.24,130.28,418,130.28,19106,130.940005
2023-01-03 09:03:00+00:00,131.30,131.46,131.19,335,131.19,19200,131.310537
2023-01-03 09:06:00+00:00,131.00,131.24,131.00,211,131.24,15773,131.135695
2023-01-03 09:09:00+00:00,131.22,131.27,131.01,171,131.10,8134,131.118403
2023-01-03 09:12:00+00:00,131.22,131.35,131.20,103,131.21,4733,131.260894
...,...,...,...,...,...,...,...
2024-01-17 00:42:00+00:00,183.05,183.09,183.05,55,183.09,1475,183.055472
2024-01-17 00:45:00+00:00,183.05,183.05,183.03,38,183.03,2807,183.041744
2024-01-17 00:51:00+00:00,183.05,183.10,183.01,26,183.01,1164,183.046268
2024-01-17 00:54:00+00:00,183.00,183.05,183.00,132,183.05,6631,183.009305
2024-01-17 00:57:00+00:00,183.04,183.05,183.01,78,183.04,3203,183.039446

In [ ]:
# Now save this cleaned dataframe to a new .csv
aapl_3min_formatted.to_csv('../algotrader2/Resources/aapl_3min_df.csv', index=True)

In [ ]:
# 15 MINUTE
# Set timeframe for Alpaca API
timeframe = "15Min"

# Get historical OHLC data for AALP and MSFT
aapl_15min_df = alpaca.get_bars(
    tickers,
    timeframe,
    start = start_date,
    end = end_date
).df

aapl_15min_df

# Separate ticker data
aapl_15min_formatted = aapl_15min_df[aapl_15min_df['symbol']=='AAPL'].drop('symbol', axis=1)


# Drop NA
aapl_15min_formatted = aapl_15min_formatted.dropna()

aapl_15min_formatted

,close,high,low,trade_count,open,volume,vwap
timestamp,,,,,,,
2023-01-03 09:00:00+00:00,131.22,131.46,130.28,1238,130.28,66946,131.136741
2023-01-03 09:15:00+00:00,130.90,131.32,130.90,676,131.21,38729,131.106010
2023-01-03 09:30:00+00:00,131.15,131.24,130.90,294,130.92,17889,131.042992
2023-01-03 09:45:00+00:00,131.30,131.30,131.17,305,131.22,20119,131.261797
2023-01-03 10:00:00+00:00,131.13,131.40,131.01,335,131.40,12429,131.220745
...,...,...,...,...,...,...,...
2024-01-16 23:45:00+00:00,183.20,183.33,183.12,185,183.14,7901,183.181956
2024-01-17 00:00:00+00:00,183.20,183.35,183.15,94,183.15,3400,183.206144
2024-01-17 00:15:00+00:00,183.16,183.26,183.13,102,183.23,4545,183.199311
2024-01-17 00:30:00+00:00,183.05,183.24,183.05,138,183.24,6206,183.141944
2024-01-17 00:45:00+00:00,183.04,183.10,183.00,274,183.03,13805,183.026011

In [ ]:
# Now save this cleaned dataframe to a new .csv
aapl_15min_formatted.to_csv('../algotrader2/Resources/aapl_15min_df.csv', index=True)

Now go create the features for the 3 and the 15 minute 

[3 and 15 min feature creation]()